---
import { getMenu } from "../../lib/wix";
import LogoSquare from "../logo-square.astro";
import FooterMenu from "./footer-menu.astro";

const { COMPANY_NAME, SITE_NAME } = import.meta.env;
const currentYear = new Date().getFullYear();
const copyrightDate = 2023 + (currentYear > 2023 ? `-${currentYear}` : "");
const menu = await getMenu("next-js-frontend-footer-menu");
const copyrightName = COMPANY_NAME || SITE_NAME || "";
---

<footer class="text-sm text-neutral-500 dark:text-neutral-400">
  <div
    class="mx-auto flex w-full max-w-7xl flex-col gap-6 border-t border-neutral-200 px-6 py-12 text-sm md:flex-row md:gap-12 md:px-4 min-[1320px]:px-0 dark:border-neutral-700"
  >
    <div>
      <a
        class="flex items-center gap-2 text-black md:pt-1 dark:text-white"
        href="/"
      >
        <LogoSquare size="sm" />
        <span class="uppercase">{SITE_NAME}</span>
      </a>
    </div>
    <FooterMenu menu={menu} />
    <div class="md:ml-auto">
      <a
        class="flex h-8 w-max flex-none items-center justify-center rounded-md border border-neutral-200 bg-white text-xs text-black dark:border-neutral-700 dark:bg-black dark:text-white"
        aria-label="Deploy on Vercel"
        href="https://vercel.com/new/clone?repository-url=https%3A%2F%2Fgithub.com%2Fwix%2Fnextjs-commerce&env=COMPANY_NAME,WIX_CLIENT_ID,SITE_NAME,TWITTER_CREATOR,TWITTER_SITE&envDescription=Supply%20the%20Wix%20Client%20ID%20for%20your%20Wix%20Store.&envLink=https%3A%2F%2Fdev.wix.com%2Fdocs%2Fgo-headless%2Fgetting-started%2Fsetup%2Fauthorization%2Fcreate-an-o-auth-app-for-visitors-and-members&demo-title=Wix%20Store%20Demo&demo-description=A%20NextJS%20Commerce%20site%20working%20with%20Wix%20Stores&demo-url=https%3A%2F%2Fwix-nextjs-commerce.vercel.app%2F&demo-image=https%3A%2F%2Fstatic.wixstatic.com%2Fmedia%2F8dfd06_e9c49cd22b95454daac5e46a92bbad79~mv2.png"
      >
        <span class="px-3">▲</span>
        <hr
          class="h-full border-r border-neutral-200 dark:border-neutral-700"
        />
        <span class="px-3">Deploy</span>
      </a>
    </div>
  </div>
  <div class="border-t border-neutral-200 py-6 text-sm dark:border-neutral-700">
    <div
      class="mx-auto flex w-full max-w-7xl flex-col items-center gap-1 px-4 md:flex-row md:gap-0 md:px-4 min-[1320px]:px-0"
    >
      <p>
        &copy; {copyrightDate}
        {copyrightName}
        {copyrightName.length && !copyrightName.endsWith(".") ? "." : ""} All rights
        reserved.
      </p>
      <hr
        class="mx-4 hidden h-4 w-[1px] border-l border-neutral-400 md:inline-block"
      />
      <p>
        <a href="https://github.com/vercel/commerce">View the source</a>
      </p>
      <p class="md:ml-auto">
        <a href="https://vercel.com" class="text-black dark:text-white">
          Created by ▲ Vercel
        </a>
      </p>
    </div>
  </div>
</footer>
