---
import type { Product } from "../../lib/wix/types";
import AddToCart from "../cart/add-to-cart.astro";
import Price from "../price.astro";
import Prose from "../prose.astro";
import VariantSelector from "./variant-selector.astro";

type Props = {
  product: Product;
};
---

<div class="mb-6 flex flex-col border-b pb-6 dark:border-neutral-700">
  <h1 class="mb-2 text-5xl font-medium">{Astro.props.product.title}</h1>
  <div class="mr-auto w-auto rounded-full bg-blue-600 p-2 text-sm text-white">
    <Price
      amount={Astro.props.product.priceRange.maxVariantPrice.amount}
      currencyCode={Astro.props.product.priceRange.maxVariantPrice.currencyCode}
    />
  </div>
</div>
<VariantSelector
  options={Astro.props.product.options}
  variants={Astro.props.product.variants}
/>
{
  Astro.props.product.descriptionHtml ? (
    <Prose
      class="mb-6 text-sm leading-tight dark:text-white/[60%]"
      html={Astro.props.product.descriptionHtml}
    />
  ) : null
}

<AddToCart
  productId={Astro.props.product.id}
  variants={Astro.props.product.variants}
  availableForSale={Astro.props.product.availableForSale}
/>
